*{
    margin: auto;
    padding: 10px;
   width: 73% vw; 


}







.a1{
    background-image: url(img002.png);
    box-shadow: 10px 10px rgba(238, 242, 244, 0.579);
    width: 1400px;
    height: 100px;
    background-position: 80%;
    border-radius: 30px;


}


.a1:hover{
    border: 3px solid rgba(136, 215, 246, 0.983);
    box-shadow: 20px 30px rgba(135, 207, 235, 0.546);
}



.ht1{
    margin-top: 0;
    background-color: rgba(244, 225, 15, 0.724);
    border-radius: 50px;
    width: 400px;
    
    margin-left: 20px;
    font-size: 10px;
}

.ht1 img{
    width: 50px;
    border-radius: 40px;
  
   
}

.ht1:hover{
     background-color: rgba(251, 255, 0, 0.609);
     box-shadow: 5px 10px rgba(135, 207, 235, 0.734);
     border: 1px solid;
}

{
    padding: 0;
    margin: 0;
}

i:hover{
    border-radius: 50px;
    box-shadow: 2px 5px 3px 1px rgba(76, 249, 41, 0.495);
}















.a2 {
    width:1300px;
    height: 10vh;
    text-align: center;
    display: grid;
    
    
    grid-template-columns: 300px 1100px;
    margin:  auto ;
    
    padding top: 20px;
    padding bottom: 30px ;  
}






.box1{
    border-radius: 30px;
    width: 300px;
    height: 550px;
    background-color: aquamarine;
    
   
}



.leb:hover{
    border: 2px solid rgba(169, 229, 253, 0.765);
    box-shadow: 5px 10px 3px rgba(135, 207, 235, 0.412);
}




input{
    border-radius: 50px;
    background-color: rgba(245, 252, 247, 0.639);
}


input:hover{
    background-color: white;
}




.leb h1{
    color: rgb(201, 19, 242);
}

.leb{
    width: 260px;
    background-color: rgba(12, 234, 204, 0.72);
    border-radius: 30px;
}





.box2{
    margin-left: 200px;
    width:800px;
    height: 400px;
    margin-bottom: 20px;
    box-shadow: 5px 10px 20px  rgba(191, 232, 248, 0.677);
}




.a2 table tr th img{
    
    width: 150px;
    
    box-shadow: 15px 15px 5px rgb(217, 231, 236);
    border-radius: 20px;

}





.a2 table tr td img{
  
    width: 100px;
    box-shadow: 15px 15px 5px rgb(217, 231, 236);
    border-radius: 20px;

}



.a2 table tr th img:hover{
    border: 5px solid rgba(213, 237, 246, 0.754);
    box-shadow: 20px 30px rgba(153, 222, 250, 0.774);

}


.a2 table tr td img:hover{
    border: 5px solid rgb(213, 237, 246);
    box-shadow: 20px 30px rgba(153, 222, 250, 0.774);

}











.a3{
    box-shadow: 5px 5px 20px rgba(195, 236, 250, 0.645);
    width: 1200px;
    height: 4cm;
    padding:30px 20px ;
    height: 200px;
    margin-top: 530px;

    
}

p{
    height: 50px;
    font-size: small;
    color: aqua;
    font-variant: small-caps;
    padding: 50px;
}



.a4{
    width: 1400px;
    height: 300px;
    background-color: rgb(47, 44, 44);
    margin-top: 10vh;
    margin-bottom: 0;
    padding-bottom: 0;
    border-radius: 40px;

}

